* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  color: #fff;
}

body {
  width: 100vw;
  height: 100vh;
  background-image: url(./images/Makoto-Yuki.png);
  background-size: cover;
  background-position: center;
}

.container {
  width: 600px;
  height: 40%;
  display: grid;
  grid-template-columns: repeat(4, 1.2fr);
  gap: 0.3em;
  padding: 1em;
  border-radius: 5px;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border-radius: 25px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0px 25px 45px 0 rgba(0, 0, 0, 0.2);
  font-family: sans-serif;
  color: black;
  font-size: 1.4em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.box {
  text-align: center;
  border-radius: 5px;
}

.Time {
  padding: 20px;
  font-size: 2em;
  font-weight: bold;
}

.unit {
  font-size: 15px;
  padding-bottom: 1em;
}

h2 {
  grid-column: span 4;
  text-align: center;
  font-weight: bold;
}

.text {
  grid-column: span 4;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  color: #fff;
  text-decoration-color: #b028de;
}

p,
a {
  font-size: 15px;
}

.box2 {
  display: none;
}

.to-the-moon {
  font-size: 50px;
}

@media only screen and (max-width: 430px) {
  body {
    background-image: url(./images/p1.webp);
  }

  .container {
    max-width: 350px;
    max-height: 30%;
    gap: 15px;
    justify-content: center;
    align-items: center;
    padding: 15px 15px;
    top: 70%;
  }

  h2 {
    font-size: 20px;
  }

  .box {
    max-width: 100%;
    max-height: 110px;
  }

  .Time {
    padding: 15px;
    font-size: 1em;
  }

  .text {
    max-height: 30px;
  }

  .to-the-moon {
    font-size: 25px;
  }
}
