* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #0b5454;
  height: 90vh;
  display: grid;
  justify-content: center;
  align-items: center;
  font-size: large;
}

.container {
  margin: auto 20px;
  width: 600px;
  height: 30%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 1em;
  border-radius: 5px;
  background-color: #1a3e73;
  font-family: sans-serif;
  color: whitesmoke;
  font-size: 1.4em;
  justify-content: center;
  align-items: center;
}

.box {
  text-align: center;
  background-color: #c8cacf;
  border-radius: 5px;
}

.Time {
  padding: 20px;
  font-size: 2em;
  font-weight: bold;
}

.unit {
  font-size: 15px;
  padding-bottom: 1em;
}

h2 {
  grid-column: span 4;
  text-align: center;
  font-weight: bold;
}

.Time,
.unit {
  color: #000;
}

.text {
  grid-column: span 4;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  color: #c8cacf;
  text-decoration-color: #1f93ff;
}

p,
a {
  font-size: 15px;
}

.box2 {
  display: none;
}

.to-the-moon {
  font-size: 50px;
}

@media only screen and (max-width: 430px) {
  .container {
    max-width: 300px;
    gap: 15px;
  }

  .box {
    max-width: 70px;
    max-height: 110px;
  }

  .Time {
    padding: 15px;
    font-size: 1em;
  }

  .text {
    max-height: 30px;
  }

  .to-the-moon {
    font-size: 25px;
  }
}
