* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #0B5454;
  height: 90vh;
  display: grid;
  justify-content: center;
  align-items: center;
  font-size: large;
}

.container {
  margin: auto 20px;
  width: 600px;
  height: 40%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.7em;
  padding: 1em;
  border-radius: 5px;
  background-color: #1A3E73;
  font-family: sans-serif;
  color: whitesmoke;
  font-size: 1.4em;
}

.box {
  text-align: center;
  background-color: #C8CACF;
  border-radius: 5px;
}

.Time {
  padding: 20px;
  font-size: 2em;
  font-weight: bold;
}

.unit {
  font-size: 15px;
  padding-bottom: 1em;
}

h2 {
  grid-column: span 4;
  text-align: center;
  font-weight: bold;
}

.Time, .unit {
  color: #000;
}

.box2 {
  display: none;
}

.text {
  grid-column: span 4;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  color: #C8CACF;
  text-decoration-color: #1f93ff;
}

p, a {
  font-size: 15px;
}

.to-the-moon {
  font-size: 50px;
}

@media only screen and (max-width: 544px) {
  .container {
    max-width: 400px;
    font-size: 1.5em;
  }

  .Time {
    font-size: 35px;
  }

  .unit {
    font-size: 15px;
    padding-bottom: 10px;
  }

  .to-the-moon {
    font-size: 30px;
  }
}

@media only screen and (max-width: 435px) {
  .container {
   max-width: 390px;
  }

  .Time {
    font-size: 1em;
  }

  .to-the-moon {
    font-size: 15px;
  }
}
